{{ define "title" }}Tdly.me{{ end }}

{{ define "head" }}
<style>
	main {
		width: 100%;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}

	h1 {
		font-size: 10rem;
	}

	h1>span {
		font-size: 5rem;
	}

	button {
		opacity: 100%;
		outline: 0;
		border: solid #846358 2px;
		border-radius: 8px;
		background: #eaddd7;
		padding: 12px 24px;
		font-weight: 600;
		color: #846358;
		cursor: pointer;
		margin-bottom: 40px;

		transition: opacity ease-in 0.1s;
	}

	button:hover {
		opacity: 70%;
	}

	li {
		opacity: 100%;
		text-align: center;
		margin: 10px;

		transition: opacity ease-in 0.1s;
	}

	li:hover {
		opacity: 70%;
	}
</style>
{{end}}

{{ define "body" }}
<main>
	<h1>Tdly<span>.me</span></h1>
	<form method="post" action="/boards">
		<button type="submit">Create a Board</button>
	</form>
	{{ if . }}
	<div>
		<h2>Recently visited</h2>
		<ul>
			{{ range . }}
			<li>
				<a href="/b/{{ . }}">Board {{ . }}</a>
			</li>
			{{ end }}
		</ul>
	</div>
	{{ end }}
</main>
{{ end }}
